<%layout('../layout')%>

<div id="page-wrapper" style="margin-left:20px;margin-right:20px">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <%=channelName?channelName:channelID%>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>History of Object <%=docid%></h3>
                    <div id="object-info-container" style="width:100%;display:none;" class="search-result">
                        <div id="object-info">
                        </div>
                    </div>
                    <div id="error-div" class="alert alert-danger" style="display: none;"></div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

</div>
<!-- /#page-wrapper -->
<% if (channelID) { %>
<script>
    const channelID = '<%= channelID %>';            
</script>
<% } else { %>
<script>
    const channelID = null;            
</script>
<% } %>
<% if (docid) { %>
<script>
    const docid = '<%= docid %>';            
</script>
<% } else { %>
<script>
    const docid = null;            
</script>
<% } %>
<% if (chaincode) { %>
<script>
    const chaincode = '<%= chaincode %>';            
</script>
<% } else { %>
<script>
    const chaincode = null;            
</script>
<% } %>
<script src="/js/channel_functions.js"></script>
<script src="/js/document_history.js"></script>